<h1><%= @sponsorship.donor_id %></h1>

<p>Child ID: <%= @sponsorship.child_id%> </p>
<p>Sponsorship Type ID: <%= @sponsorship.sponsorship_type_id%> </p>

<p><%=link_to "Back to All Sponsorships", sponsorships_path %> </p>
