<h1><%=@payment.month_year.strftime('%B %Y') %></h1>

<p>Sponsorship ID: <%= @payment.sponsorship_id%> </p>
<p>Method: <%= @payment.method%> </p>

<p><%=link_to "Back to All Payments", payments_path%> </p>

