<h1>Sponsorship Types</h1>

<table>
  <thead>
    <tr>
      <th>Dollar Amount</th>
      <th>Kind</th>
      <th>Occurances</th>
    </tr>
  </thead>
  <% @sponsorship_types.each do |st| %>
    <tr>
      <td> <%= link_to st.amount, st %> </td>
      <td> <%= link_to st.kind, st %>  </td>
      <td> (<%= st.sponsorships.count%>) </td>

    </tr>
  <% end %>
</table>

